<div ng-controller="ReservasController">    
    <div class="modal-header">
        <center><h1>Horarios</h1><center>
    </div>
    <div class="modal-body">
        <div class="list-group">
            <a data-ng-repeat="horario in horarios" ng-click="reservar(horario.codigo)" class="list-group-item">
                <h4 class="list-group-item-heading" data-ng-bind="horario.codigo"></h4>
                Horario: {{horario.valor}}<br/>
                <!-- tipo_espacio: {{reserva.tipo_espacio}}<br/>
                numero_espacio: {{reserva.numero_espacio}}<br/>
                fecha: {{reserva.fecha}}<br/>
                hora: {{reserva.hora}}<br/> -->
            </a>
        </div>
        <div class="alert alert-warning text-center" ng-show="horarios.length === 0">
          No hay horarios disponibles
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="salirReserva()">Salir</button>
    </div> 
<div>   