<section data-ng-controller="ReservasController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="reserva.user.displayName"></h1>
			Identificación: {{reserva.persona}}<br/>
            <p1>tipo de espacio:</p1>   {{reserva.tipo_espacio}}<br/>
            numero de espacio:    {{reserva.numero_espacio}}<br/>
            fecha:   {{reserva.fecha}}<br/>
            hora:   {{reserva.hora}}<br/>
	</div>
	<div class="pull-right" data-ng-show="authentication.user.tipoUser == 1">
		<a class="btn btn-warning" data-ng-click="listarReservas();">
			Atras
		</a>
		<!-- <a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a> -->
	</div>
	<div class="pull-right" data-ng-show="authentication.user.tipoUser == 2">
		<a class="btn btn-warning" data-ng-click="principalEstudiante();">
			Atras
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Creada
			<span data-ng-bind="reserva.created | date:'mediumDate'"></span>
			Por
			<span data-ng-bind="reserva.user.displayName"></span>
		</em>
	</small>
</section>