<section data-ng-controller="ReservasController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="reserva.user.displayName"></h1>
			Identificación: {{reserva.persona}}<br/>
            tipo_espacio: {{reserva.tipo_espacio}}<br/>
            numero_espacio: {{reserva.numero_espacio}}<br/>
            fecha: {{reserva.fecha}}<br/>
            hora: {{reserva.hora}}<br/>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == reserva.user._id">
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Creada
			<span data-ng-bind="reserva.created | date:'mediumDate'"></span>
			Por
			<span data-ng-bind="reserva.user.displayName"></span>
		</em>
	</small>
</section>