<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/sintetica.png" />
			</div>
			
		</div>
		<br>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/tenis.png" />
			</div>
		</div>
		<br>
		
	</div>
	<div>
		<center>
		<h2> SIGREDU</h2>
	</center>
		<h2>Sistema de Gestión de Reservas en Espacios Deportivos Udea.</h2>
		<p>SIGREDU es una aplicación que le permite a los estudiantes, profesores y empleados de la UdeA realizar reservas de las chachas sintéticas y de las canchas de tenis que posee la institución </p>
		
	</div>
	
	
</section>
