<section data-ng-controller="HomeStudentclientcontroller">
	
	<center><h3>Seleccione Espacio Deportivo </h3></center>
		<br><br>
			<div class = "row">
				<div class="col-xs-4">
					<p>Sintetica 1</p>
				   <a href="/#!/reservasEspacio/{{1}}" class="thumbnail">
				      <img src="modules/core/img/brand/sintetica.png" alt="MEAN.JS">
				   </a>
				</div>
				<div class="col-xs-4">
					<p>Sintetica 2</p>
				   <a href="#!/modelo/{{2}}" class="thumbnail">
				      <img src="modules/core/img/brand/sintetica.png" alt="MEAN.JS">
				   </a>
				</div>
				<div class="col-xs-4">
					<p>Sintetica 3</p>
				   <a href="#!/modelo/{{3}}" class="thumbnail">
				      <img src="modules/core/img/brand/sintetica.png" alt="MEAN.JS">
				   </a>
				</div>

			</div>	

			<br><br>

			<div class = "row">
				<div class="col-xs-3">
					<p>Tenis 1</p>
				   <a href="#!/modelo/{{4}}" class="thumbnail">
				      <img src="modules/core/img/brand/tenis.png" alt="MEAN.JS">
				   </a>
				</div>
				<div class="col-xs-3">
					<p>Tenis 2</p>
				   <a href="#!/modelo/{{5}}" class="thumbnail">
				      <img src="modules/core/img/brand/tenis.png" alt="MEAN.JS">
				   </a>
				</div>
				<div class="col-xs-3">
					<p>Tenis 3</p>
				   <a href="#!/modelo/{{6}}" class="thumbnail">
				      <img src="modules/core/img/brand/tenis.png" alt="MEAN.JS">
				   </a>
				</div>
				<div class="col-xs-3">
					<p>Tenis 4</p>
				   <a href="#!/modelo/{{7}}" class="thumbnail">
				      <img class="img-responsive text-center"src="modules/core/img/brand/tenis.png" alt="MEAN.JS">
				   </a>
				</div>

			</div>		
</section>